[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-extensions = "*"
djangorestframework-jsonapi = "*"
python-dotenv = "*"
sqlparse = "*"
inflection = "*"
mysqlclient = "*"
pymysql = "*"
cryptography = "*"
asgiref = "*"
pytz = "*"
tzdata = "*"
pytube = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.10"
